/**
* These are the javafx defaults
**/

.button {
}

// Remove annoying blue glow around buttons
.button:focused {
     -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.button:hover {
}

.button:armed {
}

.button:default {
}

.button:cancel {
}

.button:disabled {
}

.button:show-mnemonics .mnemonic-underline {
}